{{ 'wishlist.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'cb-product-grid.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

<div
  class="cb-saved-items section-{{ section.id }}-padding"
  data-same-day-icon="{{ 'icon-same-day.svg' | asset_url }}"
>
  <div class="page-width">
    <div class="cb-saved-items__header">
      <p
        class="cb-saved-items__count"
        id="WishlistPageCount"
      >
        0 Item(s)
      </p>
      <h1 class="cb-saved-items__title">
        {{ section.settings.wishlist_heading }}
      </h1>
    </div>

    <div
      class="cb-saved-items__empty"
      id="WishlistPageEmpty"
    >
      <p class="cb-saved-items__empty-text">
        {{ section.settings.wishlist_empty_text }}
      </p>
      <a href="{{ routes.all_products_collection_url }}" class="cb-saved-items__continue">
        {{ section.settings.continue_label }}
      </a>
    </div>

    <div
      class="cb-saved-items__grid"
      id="WishlistPageGrid"
    ></div>
  </div>
</div>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{% schema %}
{
  "name": "CB Wishlist",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "wishlist_heading",
      "label": "Wishlist heading",
      "default": "My Wishlist"
    },
    {
      "type": "text",
      "id": "wishlist_empty_text",
      "label": "Wishlist empty text",
      "default": "Your wishlist is currently empty."
    },
    {
      "type": "text",
      "id": "continue_label",
      "label": "Continue button label",
      "default": "Continue shopping"
    },
    {
      "type": "header",
      "content": "Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Wishlist Page"
    }
  ]
}
{% endschema %}
